body{
    /*background-color: white (205, 138, 50);*/
    background: linear-gradient(rgba(216, 189, 131,0.2),rgba(216, 189, 131,0)), url(imagenes/fondo.png);
    background-size: cover;
    background-attachment: fixed;
  

}

#navbarNav{
    display: none;
}

#format {
    background: linear-gradient(rgba(5, 7, 12,0.5),rgba(5, 7, 12, 0.75))
}